<tr>
	<td class="shadow_left">&nbsp;</td>
	<td class="bottom_link_container">
		<p><a href="#" class="bottom_link">Link</a> | <a href="#" class="bottom_link">Link</a> | <a href="#" class="bottom_link">Link</a> | <a href="#" class="bottom_link">Link</a> | <a href="#" class="bottom_link">Link</a> </p>
		<p>All Right Reserved &copy; 2006 by bprizze<br />
		http://heartlessg.4uhost.info Web Master
		</p>
	</td>
	<td class="shadow_right">&nbsp;</td>
</tr>